.page{
    height: calc(100vh - 82px);
    width: 100%;
    display: flex;
    justify-content: center;
}
.title{
    height: calc(100vh - 82px);
    background-color: #1DB954;
    writing-mode: vertical-lr;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11vw;
    color: white;
    opacity: 100%;
}

.project{
    width: 70%;
    color: white;
    height: 20%;
    display: flex;
    align-items: center;
}

.list{
    color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
}
.list::-webkit-scrollbar {
    display: none;
  }

.newhits{
    margin-top: 60px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 32px;
}

.row{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}
.row2{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
}
.song{
    width: 35vw;
    height: 5.5vw;
    background-color: rgb(148, 147, 147, 0.25);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.song:hover{
    border-radius: 10px;
    background-color: rgb(148, 147, 147, 0.5);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.song2{
    width: 35vw;
    height: 5.5vw;
    background-color: black(148, 147, 147, 0.3);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.art{
    height: 100%;
    width: 5.5vw;
}

.name{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.3vw;
}

.banner{

    height: 20%;
}

.play{
    margin-right: 2vw;
    height: 3vw;
}
.play{
    margin-right: 2vw;
    height: 3vw;
    cursor: pointer;
}
.artname{
    display: flex;
    height: 100%;
    align-items: center;
}

.industry{
    width: 14vw;
    background-color: rgba(255, 255, 255, 0.1);
    height: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 1s;
}

.industry:hover{

    background-color: rgba(255, 255, 255, 0.2);

}

.industryPicture{
    height: 12vw;
    width: 12vw;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;

}
.industryPictureMini{
    height: 3.5vw;
    width: 3.5vw;
    overflow: hidden;
    border-radius: 10px;
    top: 9vw;
    left: 0.3vw;
    position: absolute;
    border: 3px solid black;
}
.industryTitle{
    width: 90%;
    height: 15%;
    font-size: 1.3vw;
    text-align: left;
    font-weight: bold;
    margin-top: 1vw;
}

.industrySubTitle{
    width: 90%;
    height: 5%;
    font-size: 1vw;
    text-align: left;
    margin-bottom: 2vw;
    margin-top: 2vw;
    opacity: 0.7;
}